@page "/Eventos"
@rendermode InteractiveServer
@inject ListarEventosDeportivosUseCase ListarEventosDeportivosUseCase
<PageTitle>Eventos</PageTitle>
<h1>Eventos</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th>FECHA INICIO</th>
            <th>DURACION(HORAS)</th>
            <th>CUPO MAXIMO</th>
            <th>RESPONSABLE ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var e in _lista)
        {
            <tr>
                <td>@e.ID</td>
                <td>@e.Nombre</td>
                <td>@e.Descripcion</td>
                <td>@e.FechaHoraInicio</td>
                <td>@e.DuracionHoras</td>
                <td>@e.CupoMaximo</td>
                <td>@e.ResponsableId</td>
            </tr>
        }
    </tbody>
</table>
@code {
    List<EventoDeportivo> _lista=new List<EventoDeportivo>();
    protected override void OnInitialized()
    {
        _lista=ListarEventosDeportivosUseCase.Ejecutar();
    }
}