@page "/Personas"
@rendermode InteractiveServer
@inject ListarPersonasUseCase ListarPersonasUseCase
<PageTitle>Personas</PageTitle>
<h1>Personas</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>EMAIL</th>
            <th>TELEFONO</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in _lista)
        {
            <tr>
                <td>@p.ID</td>
                <td>@p.DNI</td>
                <td>@p.Nombre</td>
                <td>@p.Apellido</td>
                <td>@p.Email</td>
                <td>@p.Telefono</td>
            </tr>
        }
    </tbody>
</table>
@code {
    List<Persona> _lista=new List<Persona>();
    protected override void OnInitialized()
    {
        _lista=ListarPersonasUseCase.Ejecutar();
    }
}