@page "/Reservas"
@rendermode InteractiveServer
@inject ListarReservasUseCase ListarReservasUseCase
<PageTitle>Reservas</PageTitle>
<h1>Reservas</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>PERSONA ID</th>
            <th>EVENTO ID</th>
            <th>FECHA RESERVA</th>
            <th>ESTADO ASISTENCIA</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var r in _lista)
        {
            <tr>
                <td>@r.ID</td>
                <td>@r.PersonaId</td>
                <td>@r.EventoDeportivoId</td>
                <td>@r.FechaAltaReserva</td>
                <td>@r.EstadoAsistencia</td>
            </tr>
        }
    </tbody>
</table>
@code {
    List<Reserva> _lista=new List<Reserva>();
    protected override void OnInitialized()
    {
        _lista=ListarReservasUseCase.Ejecutar();
    }
}