@page "/Usuarios"
@rendermode InteractiveServer
@inject ListarUsuariosUseCase ListarUsuariosUseCase
<PageTitle>Usuarios</PageTitle>
<h1>Usuarios</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>EMAIL</th>
            <th>CONTRASEÑA</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var u in _lista)
        {
            <tr>
                <td>@u.ID</td>
                <td>@u.Nombre</td>
                <td>@u.Apellido</td>
                <td>@u.Email</td>
                <td>@u.Contraseña</td>
            </tr>
        }
    </tbody>
</table>
@code {
    List<Usuario> _lista=new List<Usuario>();
    protected override void OnInitialized()
    {
        _lista=ListarUsuariosUseCase.Ejecutar(1);
    }
}